*.iml
*.exec
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
*.DS_Store
/build
/reports
/gen
/captures
.externalNativeBuild
/misc/keystore.jks
/app/google-services.json
/gradle.properties
/responses/
/projectFilesBackup/
/projectFilesBackup1/
/ajcore.*.txt
/output/
/app/src/release/google-services.json
/app/src/debug/google-services.json
