*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/reports
/captures
.externalNativeBuild
/misc/keystore.jks
/misc/keystore.properties
/app/google-services.json
/gradle.properties
/responses/
/projectFilesBackup/
