<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kevalpatel2106.standup">

    <application tools:ignore="GoogleAppIndexingWarning">

        <!--Disable firebase analytics-->
        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="false" />

        <!--Disable pref monitoring-->
        <meta-data
            android:name="firebase_performance_collection_deactivated"
            android:value="false" />
    </application>

</manifest>