<manifest package="com.kevalpatel2106.rulerview"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".RulerDemoActivity"
            android:icon="@mipmap/ic_ruler_launcher"
            android:label="Ruler View Demo"
            android:taskAffinity="com.kevalpatel2106.standup.${applicationId}"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name=".DemoActivity"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
