<?xml version="1.0" encoding="utf-8"?>
<!--
  ~  Copyright 2018 Keval Patel.
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~  http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~   Unless required by applicable law or agreed to in writing, software
  ~   distributed under the License is distributed on an "AS IS" BASIS,
  ~   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~   See the License for the specific language governing permissions and
  ~   limitations under the License.
  ~
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.standup">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".app.SUApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="android:allowBackup">

        <!-- =============================== META-DATA ================================ -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="false"/>
        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="@string/android_api_key"/>
        <!-- =============================== ACTIVITIES ================================ -->


        <!-- Activity to handle deep links. -->
        <activity
            android:name=".app.deeplink.DeepLinkActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionbar.RedBg"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="@string/api_host"
                    android:scheme="https"/>
                <data
                    android:host="@string/invitation_deep_link"
                    android:scheme="https"
                    tools:ignore="AppLinkUrlError"/>
            </intent-filter>
        </activity>

        <!-- Splash screen for the redirection. This is the single entry point to the application. -->
        <activity
            android:name=".app.splash.SplashActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- Application intro screen -->
        <activity
            android:name=".app.authentication.intro.IntroActivity"
            android:launchMode="singleInstance"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionbar.RedBg"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute"/>

        <!-- Login/Sign Up the user screen -->
        <activity
            android:name=".app.authentication.login.LoginActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionbar.RedBg"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute"/>

        <!-- Forgot password request screen -->
        <activity
            android:name=".app.authentication.forgotPwd.ForgotPasswordActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionbar.RedBg"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute"/>

        <!-- Verify your email reminder screen. -->
        <activity
            android:name=".app.authentication.verification.VerifyEmailActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionbar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute"/>

        <!-- Verify the user email with the deep link. -->
        <activity
            android:name=".app.authentication.verification.EmailLinkVerificationActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionbar.RedBg"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute"/>
        <activity
            android:name=".app.authentication.deviceReg.DeviceRegisterActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionbar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute"/>

        <!-- Dashboard Activity -->
        <activity
            android:name=".app.main.MainActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionbar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute"/>

        <!-- Web view activity -->
        <activity
            android:name=".app.deeplink.WebViewActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionbar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute"/>

        <!-- User profile edit screen -->
        <activity
            android:name=".app.profile.EditProfileActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionbar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute"/>

        <!-- Support development screen. -->
        <activity
            android:name=".app.about.donate.SupportDevelopmentActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionbar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute"/>
        <activity
            android:name=".app.about.AboutActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.MaterialAboutActivity"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute"/>
        <activity
            android:name=".app.about.report.ReportIssueActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionbar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute"/>
        <activity
            android:name=".app.settings.list.SettingsListActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionbar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute"/>
        <activity
            android:name=".app.diary.detail.DetailActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionbar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute"/>
        <activity
            android:name=".app.diary.userActivityList.UserActivityListActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionbar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute"/>
        <activity
            android:name=".app.settings.syncing.SyncSettingsDetailActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute"/>
        <activity
            android:name=".app.settings.dnd.DndSettingsDetailActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute"/>
        <activity
            android:name=".app.settings.dailyReview.DailyReviewSettingsDetailActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute"/>
        <activity
            android:name=".app.settings.notifications.NotificationSettingsDetailActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute"/>
        <activity
            android:name=".app.misc.TimeLineFullActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.TimeLine"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute"/>

        <!-- =============================== RECEIVER ================================ -->
        <!-- Receive the broadcast if the user is unauthorised. -->
        <receiver
            android:name=".app.authentication.UnauthorizedReceiver"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="com.kevalpatel2106.network.unauthorized"/>
            </intent-filter>
        </receiver>

        <!-- =============================== SERVICE ================================ -->
        <!-- Begin: Firebase service -->
        <service
            android:name=".app.fcm.FcmMessagingService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".app.fcm.InstanceIdService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <!-- End: Firebase service -->


        <!-- Service to register the device firebase token and other detail -->
        <service
            android:name=".app.authentication.deviceReg.RegisterDeviceService"
            tools:ignore="ExportedService"/>
    </application>

</manifest>
