<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.kevalpatel2106.standup">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".SUApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <!-- =============================== META-DATA ================================ -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="@string/android_api_key"/>

        <!-- =============================== ACTIVITIES ================================ -->

        <!--Activity to handle deep links.-->
        <activity
            android:name=".deeplink.DeepLinkActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:noHistory="true"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionbar.GreenBg"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="@string/api_host"
                    android:scheme="https"/>
            </intent-filter>
        </activity>

        <!--Splash screen for the redirection. This is the single entry point to the application.-->
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--Application intro screen-->
        <activity
            android:name=".authentication.intro.IntroActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionbar.GreenBg"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute"/>

        <!--Login/Sign Up the user screen-->
        <activity
            android:name=".authentication.login.LoginActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionbar.GreenBg"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute"/>

        <!--Forgot password request screen-->
        <activity
            android:name=".authentication.forgotPwd.ForgotPasswordActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionbar.GreenBg"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute"/>

        <!--Verify your email reminder screen.-->
        <activity
            android:name=".authentication.verifyEmail.VerifyEmailActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionbar.GreenBg"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute"/>

        <!--Verify the user email with the deep link.-->
        <activity
            android:name=".authentication.verifyEmail.EmailLinkVerificationActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionbar.GreenBg"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute"/>

        <!--The Dashboard-->
        <activity
            android:name=".Dashboard"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionbar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute"/>

        <!--Web view activity-->
        <activity
            android:name=".deeplink.WebViewActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionbar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute"/>

        <!--User profile edit screen-->
        <activity
            android:name=".profile.UserInfoActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionbar"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute"/>


        <!-- =============================== RECEIVER ================================ -->
        <!--Receive the broadcast if the user is unauthorised.-->
        <receiver
            android:name=".UnauthorizedReceiver"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="com.kevalpatel2106.network.unauthorized"/>
            </intent-filter>
        </receiver>

        <!--Receiver to get callbacks when user's activity changes.-->
        <receiver
            android:name=".ActivityReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.kevalpatel2106.activityengine.update"/>
            </intent-filter>
        </receiver>

        <!-- =============================== SERVICE ================================ -->
        <!-- Begin: Firebase service -->
        <service
            android:name=".notification.FcmMessagingService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".notification.InstanceIdService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!-- End: Firebase service -->

        <!--Service to register the device firebase token and other detail-->
        <service
            android:name=".authentication.deviceReg.RegisterDeviceService"
            tools:ignore="ExportedService"/>
    </application>

</manifest>