<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kevalpatel2106.standup">

    <application
        android:name=".SUApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dashboard"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionbar"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name=".UserInfoActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionbar"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name=".authentication.intro.IntroActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionbar.GreenBg"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name=".authentication.login.LoginActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionbar.GreenBg"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute" />

        <receiver
            android:name=".UnauthorizedReceiver"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="com.kevalpatel2106.network.unauthorized" />
            </intent-filter>
        </receiver>
    </application>

</manifest>