<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kevalpatel2106.standup.engine">

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application>
        <service
            android:name=".SchedulerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <!-- Receiver to get callbacks when user's activity changes. -->
        <receiver
            android:name=".detector.ActivityDetectionReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.kevalpatel2106.standup.engine.activityUpdate" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
