<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kevalpatel2106.standup.engine">

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application>
        <!-- Receiver to get callbacks when user's activity changes. -->
        <receiver
            android:name=".ActivityDetectionReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.kevalpatel2106.standup.engine.activityUpdate" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
